.card {
  max-width: 360px;
  padding: 2rem;
  box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
  border-radius: 3px;
  background-color: #fff;
}

.form__input {
  padding: 0.8rem;
  margin: 2rem 0;
  font-size: 1.6rem;
  outline: none;
  border-radius: 7px;
  opacity: 0.8;
}

.form__input:focus {
  opacity: 1;
}

.form__btn {
  background: rgba(190, 190, 190, 0.171);
  padding: 1.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
  cursor: pointer;
  opacity: 0.8;
}

.form__btn:hover {
  opacity: 1;
}
